.body {
  background-color: #3e82a148;
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 0;
  margin: 0;
  position: static;
  width: 100%;
  height: 30%;
  background-color: hsl(356, 69%, 43%);
  background-size: contain;
  gap: 10px;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

#navleft {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: baseline;
}
#navright button,
#navleft {
  margin-left: 10px;
  gap: 10px;
}
#navright {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  padding: 0;
  margin: 0;
  position: static;

  background-color: hsl(356, 69%, 43%);
  background-size: contain;
  gap: 10px;
  display: flexbox;
  flex-direction: row;
  /* align-items: center; */
}
#socialicon a img {
  width: 2rem;
}

#socialicon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin: 1px;
  justify-content: space-evenly;
}
#copyright {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px;
  margin: 1px;
}

#prom1,
#prom2,
.prom {
  border: 1px solid salmon;
  width: 560;
  height: 315;
}

.hero button {
  gap: 100;
}

.hero {
  position: static;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.hero a {
  background-color: #55d3ad;
  padding: 0px;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", Roboto, Lato, Segoe, sans-serif;
  font-size: 20px;
  line-height: 0px;
  text-align: center;
  text-decoration: none;
  width: 1000%;
  max-width: 100% !important;
}

.hero {
  border: 15px;
  vertical-align: middle;
  font-family: "Montserrat", Tahoma, Verdana, Segoe, sans-serif;
}

.destination .card {
  padding: 0;
  margin: 0;
  border: #55d3ad solid;
  border-radius: 15%;
}
.destination .card {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  display: flex;
  flex-direction: row;
}

.cards img {
  width: 18rem;
  height: 9rem;
}
